.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $labels-border;
    padding: 26px 0;
    margin: 0;

    // 27.295% in space. 6.82375% between items

    .name {
        width: 40%;
    }

    .price {
        width: 6.757%;
    }

    .quantity {
        width: 11.713%;
    }

    .total {
        width: 14.235%;
    }    
}